<apex:page controller="CS_REST_TestingController">
    <apex:form > 
        <apex:pageBlock title="REST Callout">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!DummyCallout2}" value="REST Call out"/>    
            </apex:pageBlockButtons>
        
            <apex:pageBlockSection columns="1">
                <br/>
                <b>End Point Url:</b> {!sEndPointUrl}
                <br/><br/>
                <b>Result Message: </b><br/><br/>
                {!sOutputMessage}
                
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Timing information">
                <apex:pageblockSectionItem >
                    Start Time: {!sStartTime}
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                    End Time: {!sEndTime}
                </apex:pageblockSectionItem>                
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form> 
</apex:page>