<apex:page standardController="Order" extensions="DTT_Order_PostCtrl">
  <!-- Begin Default Content REMOVE THIS -->
  <apex:form >


  		  <apex:outputPanel rendered="{!refreshPage}">
		   <script>
		      window.top.location='/{!Order.id}';
		   </script>
		</apex:outputPanel>

  		<apex:commandButton value="Post" action="{!Post}" rendered="{!!Order.Posted__c}"/>
        

	    <apex:outputPanel rendered="{!and(Order.RecordType.Name = 'North America', Order.Posted__c)}">
	    	<apex:pageMessage summary="Sales Orders posted to " severity="Info" strength="2">
	    		<apex:image url="{!URLFOR($Resource.EpicorLogo)}" width="40" height="280"/> 
	    	</apex:pageMessage>
		</apex:outputPanel>
      
       <apex:outputPanel rendered="{!and(Order.RecordType.Name = 'EMEA', Order.Posted__c)}">
	    	<apex:pageMessage summary="Sales Orders posted to " severity="Info" strength="2">
	    		<apex:image url="{!URLFOR($Resource.SAP_Logo)}" width="40" height="40"/> 
	    	</apex:pageMessage>
		</apex:outputPanel>

		
	</apex:form>
</apex:page>