<!-- Page to allow users to preview the Sales quote and send to user -->

<apex:page standardController="Opportunity" extensions="CS_GenerateQuoteController"> 
    <apex:form >
        <apex:pageBlock title="Generate Quote" id="QuoteGenerationBlock">
            <apex:pagemessages />
            <apex:pageblockSection title="Enter Email Details" columns="1" collapsible="false" rendered="false">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel > Email Body:</apex:outputLabel>
                    <apex:inputTextarea rows="10" cols="100" value="{!sEmailBody}"/>
                </apex:pageBlockSectionItem>
            </apex:pageblockSection>
            <apex:pageblockSection title="Debug Informaiton" columns="1" collapsible="false">
                Quote Created: <a href="/{!sQuoteId}" target="_blank">{!sQuoteName} </a>
                <br/><br/>
                {!sMessage}
                <br/><br/>
                {!sEndPointURL}
            </apex:pageblockSection>
            <apex:pageBlockButtons >
                <apex:commandButton value="Cancel"  action="{!returnToOpportunity}"/>
                <apex:commandButton value="Preview" disabled="true"/>
                <apex:commandButton value="Send" action="{!Send}" reRender="QuoteGenerationBlock" disabled="{!Opportunity.Approval_Status__c=='Required'}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>