<apex:page standardController="Account" extensions="DTT_Account_ConvertCtrl">
  <!-- Begin Default Content REMOVE THIS -->
  <apex:form >
        
        <apex:outputPanel rendered="{!refreshPage}">
		   <script>
		      window.top.location='/{!Account.id}';
		   </script>
		</apex:outputPanel>

		<apex:outputPanel rendered="{!And(Account.Customer_ID__c = null, or(Account.Type = 'Prospect', Account.Type = 'Customer'))}">

	        <apex:outputPanel rendered="{!RefUser.Reference_CSR__c = null}">
	        	<apex:pageMessage summary="{!$Label.Account_Convert_Missing_CSR}" severity="error" strength="2">
	        	</apex:pageMessage>
			</apex:outputPanel>

	        <apex:outputPanel rendered="{!RefUser.Reference_CSR__c != null}">
			    <apex:pageMessage rendered="{!Account.Type = 'Prospect'}" summary="{!$Label.Account_Convert_Label}" severity="info" strength="2">
		            <apex:commandButton value="Convert to Customer" action="{!Convert}"/>
		        </apex:pageMessage>

		        <apex:pageMessage rendered="{!Account.Type = 'Convert Pending'}" summary="{!$Label.Account_Convert_Pending}" severity="warning" strength="2">
		        </apex:pageMessage>
			</apex:outputPanel>

		</apex:outputPanel>

    </apex:form>
</apex:page>