<apex:page standardController="User_Story__c" extensions="MobileQRCodeExtension" sidebar="false" showHeader="false" standardStylesheets="false" id="thepage" docType="html-5.0">
<apex:pageMessages rendered="true"/>
<html>

<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        body{

            background:#ffffff;
            
            font:13px Trebuchet MS, Arial, Helvetica, Sans-Serif;
            
            color:#333;
            
            line-height:160%; 
            
            margin:0;
            
            padding:0;
            
            text-align:center;
            
        }
        
        h1{

            font-size:140%;
            
            font-weight:normal;
            
            margin:1em 0;
            
            }
            
            h1 span {
            
            text-align:center;
            
        }
        a{

            text-decoration:none;
            
            color:#003F85;
            
            }
            
            a:hover{
            
            color:#3DA76;
            
        }
        
        p{
        
        margin:1em 0;
        
        }
        
        .form{

            margin: 1em 1em;
            
            background: #f8f8f8;
            
            width:100%;
            
            border: 0;
            
         }
            
         .inputbx_required {
              border-left-style: 2px solid red;
              }
        
            
    
            
            
       </style>
</head>

<body>
<div class="logo">
<img src="{!URLFOR($Resource.mobile,'/images/tracker.png')}" />
</div>


<apex:form style="background: #f8f8f8; margin: 1em 1em; border: 0px;">
<h3></h3>

            <p style="margin: 0; background: #57A700; color: #FFFFFF; font-size: 20px; border: 1px solid #57A700; border-bottom: none; display: block; padding: 10px 20px;">            
                <label style="font-weight: bold; color: #FFFFFF; ">Ref.</label>
                <apex:outputField value="{!req.Name}" />
            </p>    
            <p>            
                <label style="font-weight: bold; color: #004185;">Status: </label>
                <apex:inputField required="true"  value="{!req.Development_Stage__c}" styleClass="inputbox required" />
            </p>   
            <p>
            <label style="font-weight: bold; color: #004185;">Functional Area: </label><br/>
                <apex:outputField value="{!req.Functional_Area__c}" styleClass="inputbox required" />
            </p>
            <p>
                <label style="font-weight: bold; color: #004185;">As a...</label><br/>
                <apex:outputField value="{!req.As_A__c}"  styleClass="inputbox required" />
            </p>
            <p>
                <label style="font-weight: bold; color: #004185;">I want to...</label><br/>
                <apex:outputField value="{!req.I_Want_To__c}" styleClass="inputbox required" />
            </p>
            <p>
                <label style="font-weight: bold; color: #004185;">So that...</label><br/>
                <apex:outputField value="{!req.So_that__c}" styleClass="inputbox required" />
            </p>
            <p>
                <label style="font-weight: bold; color: #004185;">Ref Code:</label><br/>
                <apex:inputSecret value="{!iCode}" styleClass="inputbx_required" />
            </p>
            
            
            <div class="submit">
                <apex:commandButton value="Submit" alt="Submit" action="{!Save}" />
            </div>
            <apex:messages />

        
<apex:inputText style="width : 25%;margin: 20px;" id="thetext" value="{!str}" rendered="false"/>


</apex:form>

</body>
</html>
</apex:page>